* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100vh;
  color: #ffffff;
  background: linear-gradient(90deg, #0f0b0b 0%, #191919 100%);
  font-family: "roboto", sans-serif;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem;
}

h2.title,
.title {
  align-self: flex-end;
  margin: 1rem 0rem;
  margin-bottom: 2rem;
  color: #dc3c1f;
  font-weight: bold;
  font-size: 2rem;
}

/* Main --------------------------------------*/

main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-um {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  width: 90%;
}

.titulo-um h1,
.titulo-um p {
  font-size: 24px;
  font-weight: normal;
}

h1.left {
  align-self: flex-start;
}

p.right {
  align-self: flex-end;
}

span.red {
  font-weight: bold;
  color: #dc3c1f;
}

span.orange {
  font-weight: bold;
  color: #de730f;
}

span.blue {
  font-weight: bold;
  color: #2880c1;
}

.img-blob {
  display: none;
}

/* Seção portifolio ----------------------------*/

section.port,
section.contact {
  background: #191919;
}
section.port {
  height: auto;
}

#content-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

div.content {
  width: 10rem;
  height: 10rem;
  background: #de730f;
  border-radius: 29px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.content.blue {
  background: #2880c1;
}

.content .img-box {
  width: 8rem;
}

#controls {
  display: none;
}

/* Modal ----------------------------*/

.modal-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(75, 138, 240, 0.637);
  position: fixed;
  top: 0;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  z-index: 999;
}

.modal-box {
  padding: 0.5rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.box-title {
  margin-top: 2rem;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
}

.btn {
  background-color: darkred;
  height: 40px;
  width: 40px;
  border-style: none;
  border-radius: 10px;
}
.btn:hover {
  background-color: red;
}

.btn a {
  color: white;
  font-size: 18px;
}

.modal-box .box-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1rem;
}

.box-content span {
  line-height: 25px;
  font-family: "Roboto";
}

img.cover {
  width: 70%;
  height: auto;
  margin-bottom: 1rem;
}

.icon-modal {
  width: 50px;
  filter: invert();
  margin-bottom: 1rem;
  cursor: pointer;
}

.icon-modal:hover {
  opacity: 0.7;
}
.active {
  opacity: 1;
  visibility: visible;
}

/* Seção sobre mim ----------------------------*/

#container {
  line-height: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fotinha {
  width: 20rem;
  height: auto;
}

.about-me {
  text-align: justify;
  width: 85%;
}

/* Seção contato ----------------------------*/

section.contact {
  height: auto;
}

#container-end {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  padding-top: 1.5rem;
}

#contact-img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.contact-tile {
  margin: 1rem;
}

.fas,
.fab {
  margin-right: 1rem;
  font-size: 5rem;
}

.icon-description {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 2.5rem;
}

p.info {
  text-align: justify;
  margin: 1rem;
  line-height: 2.3rem;
  align-self: center;
}
