* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  height: 100vh;
  color: #ffffff;
  background: linear-gradient(90deg, #0f0b0b 0%, #191919 100%);
  font-family: "roboto", sans-serif;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0rem 3rem;
}

h2.title,
.title {
  align-self: flex-end;
  margin: 1rem 0rem;
  margin-bottom: 2rem;
  color: #dc3c1f;
  font-weight: bold;
  font-size: 2rem;
}

/* Main --------------------------------------*/

main {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo-um {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  line-height: 40px;
  width: 90%;
}

.titulo-um h1,
.titulo-um p {
  font-size: 24px;
  font-weight: normal;
}

h1.left {
  align-self: flex-start;
}

p.right {
  align-self: flex-end;
}

span.red {
  font-weight: bold;
  color: #dc3c1f;
}

span.orange {
  font-weight: bold;
  color: #de730f;
}

span.blue {
  font-weight: bold;
  color: #2880c1;
}

.img-blob {
  display: none;
}

/* Seção portifolio ----------------------------*/

section.port,
section.contact {
  background: #191919;
}

section.port {
  height: auto;
  padding-bottom: 3rem;
}

#project-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-evenly;
  width: 100%;
}

.project-tile {
  width: 40vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  margin: 1rem 0.4rem;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.project-tile:hover {
  animation: 1s;
}
@keyframes sizeUp {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

.img-project {
  width: 100%;
  height: auto;
  align-self: center;
}

.title-tile {
  background-color: #de730f;
  color: white;
  display: flex;
  padding: 1rem;
  border-radius: 0px 0px 20px 20px;
  align-items: center;
  justify-content: flex-end;
}

.title-tile:hover {
  animation: scaleUp 1s ease-in;
  animation-fill-mode: forwards;
}

@keyframes scaleUp {
  0% {
    padding-top: 1rem;
  }
  100% {
    padding-top: 3rem;
  }
}

p.title-p {
  color: white;
  font-size: 1.3rem;
  padding-right: 1rem;
}

.btn-more-projects {
  background: #2880c1;
  border: none;
  border-radius: 3px;
  padding: 0.8rem 1rem;
  align-self: center;
  margin-top: 2rem;
  cursor: pointer;
}

.btn-more-projects a {
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
}

.btn-more-projects:hover {
  background: #31bde7;
}

.btn-more-projects:active {
  box-shadow: inset 4px 4px 6px rgba(238, 254, 255, 0.3),
    5px 5px 6px rgba(0, 0, 0, 0.3);
}

/* Seção sobre mim ----------------------------*/
section.contact {
  height: 80vh;
}

#container {
  line-height: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#fotinha {
  width: 20rem;
  height: auto;
}

.about-me {
  text-align: justify;
  width: 85%;
}

/* Seção contato ----------------------------*/

#container-end {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  padding-top: 1.5rem;
}

#contact-img {
  width: 100%;
  height: auto;
  display: flex;
  align-items: space-between;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.contact-tile {
  margin: 1rem;
}

.fas,
.fab {
  margin-right: 1rem;
  font-size: 5rem;
}

.icon-description {
  color: white;
  font-weight: 200;
  text-align: center;
  font-size: 2.5rem;
  background: linear-gradient(currentColor 0 0) bottom / var(--d, 0) 3px
    no-repeat;
  transition: 0.5s;
}

.icon-description:hover {
  color: #dc3c1f;
  --d: 100%;
}

p.info {
  text-align: justify;
  margin: 2rem;
  font-size: 1.3rem;
  font-weight: lighter;
  align-self: center;
}

/* Footer ----------------------------*/
footer {
  background: #151515;
  padding: 1rem;
}

p.footer {
  color: white;
  text-align: center;
}
