nav {
  height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-list {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

ul {
  list-style: none;
}

li {
  margin-right: 70px;
}

a {
  text-decoration: none;
  color: #fff;
  font-weight: 800;
  font-size: 25px;
}

#bar {
  display: none;
}
.landing {
  height: 90vh;
}

/* titles*/

a.portifolio:hover {
  color: #19aa5e;
}

a.sobre:hover {
  color: var(--blue);
}

a.contato:hover {
  color: #19aa5e;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  nav {
    position: relative;
    padding-right: 0;
  }
  #bar {
    display: none;
    position: absolute;
    right: 3%;
    top: 51%;
    cursor: pointer;
    transform: translate(-5%, -50%);
    z-index: 2;
  }

  li {
    left: 50%;
  }

  .nav-list {
    position: fixed;
    justify-content: space-around;
    top: 0vh;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    transition: all 0.5s ease-in;
    text-align: center;
    padding-top: 10%;
    transform: translateX(100%);
    transition: transform 0.5s ease-out;
    overflow-y: hidden;
  }
}
