::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #191723;
}

::-webkit-scrollbar-thumb {
  background: var(--orange);
  border-radius: 16px;
}

::-webkit-scrollbar-thumb:hover {
  background: #19aa5e;
}
